@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse-slow {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 1.5s linear infinite;
}

.animate-spin-reverse-slow {
  animation: spin-reverse-slow 1.5s linear infinite;
}
