@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #ff883b;
  --color-secondary: #ff5722;
  --color-tertiary: #8bc34a;
  --color-primary-dark: #9aa185;

  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 55%);
  --trans-dur: 0.3s;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

* {
  box-sizing: border-box;
}
